<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie App Home Page</title>
</head>
<body>
    <h1>Movie List</h1>
    <h4>List movies you have watched or want to watch</h4>

    <table>
        <tr>
            <th>Id</th>
            <th>Movie Title</th>
            <th>Director</th>
            <th>Genre</th>
            <th>Description</th>
            <th>Imdb Page</th>
            <th>Rating (/5)</th>
        </tr>
        {% for movie in movies %}
            <tr>
                <td style = "border:1px solid grey; background-color: black; color: white;">{{ movie.id }}</td>
                {% if movie.watched %}
                    <td><strike>{{ movie.title }}</strike></td>
                {% else %}
                    <td>{{ movie.title }}</td>
                {% endif %}
                <td>{{ movie.director }}</td>
                <td>{{ movie.genre }}</td>
                <td>{{ movie.description }}</td>
                <td><a href = "{{ movie.imdb_link }}" target="_blank">Link</a></td>
                <td>{{ movie.rating }}</td> 

                <td><a href = "/edit/{{ movie.id }}"><button>Edit Movie</button></a></td> 

                <td><a href = "/toggle/{{ movie.id }}"><button>Toggle Movie</button></a></td> 

                <td><a href = "/delete/{{ movie.id }}"><button>Delete Movie</button></a></td> 
            </tr>
            {% empty %}
            <tr>
                <td>You have no movies listed</td>
            </tr>
            
            
        {% endfor %}
    </table>
    
    <a href = "/add">Add a movie</a>
</body>
</html>